.titleHighliht{
    font-family: 'Palanquin Dark', sans-serif;
}

.rowAlign{
    margin: 0 30 0 30;  
}

.redIcon {
    color: red;
}

.greenIcon {
    color:green;
}



/*FOOTER BEGIN*/
.bottomHighlight {
    font-size: 2em;
    font-family: 'Poiret One', cursive;
}
.bottomAlign {
    margin-top: 10px;
}

.bottomRight {
    float:right;
    margin-top: 17px;
}
/*FOOTER END*/